{% extends 'layout.html' %}
{% block content %}
<a class="btn btn-secondary mb-3" href="{{ url_for('player_list') }}">Zurück</a>
<h1 class="mb-4">Neuen Spieler erstellen</h1>
<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="info" class="form-label">Info</label>
        <textarea class="form-control" id="info" name="info" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
</form>
{% endblock %}
