{% extends 'layout.html' %}
{% block content %}
<h1 class="mb-4">DM-Helfer Settings</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h5 class="card-title">NPCs</h5>
                <p class="card-text">{{ npc_count }} vorhanden</p>
                <a class="btn btn-primary" href="{{ url_for('npc_list') }}">Verwalten</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h5 class="card-title">Spieler</h5>
                <p class="card-text">{{ player_count }} vorhanden</p>
                <a class="btn btn-primary" href="{{ url_for('player_list') }}">Verwalten</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h5 class="card-title">Tiere</h5>
                <p class="card-text">{{ animal_count }} vorhanden</p>
                <a class="btn btn-primary" href="{{ url_for('animal_list') }}">Verwalten</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h5 class="card-title">User</h5>
                <p class="card-text">{{ user_count }} vorhanden</p>
                <a class="btn btn-primary" href="{{ url_for('user_list') }}">Verwalten</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h5 class="card-title">Core</h5>
                <p class="card-text">{{ core_text }}</p>
                <a class="btn btn-primary" href="{{ url_for('edit_core') }}">Bearbeiten</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h5 class="card-title">Welt</h5>
                <p class="card-text">{{ world_text }}</p>
                <a class="btn btn-primary" href="{{ url_for('edit_world') }}">Bearbeiten</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
